
# these should go into ~/.sqlrunner/info.properties file.

dwprod_user=alex
dwprod_pass=s0mePa55w0rd
dwprod_dbname=dwprod
dwprod_driver=org.postgresql.Driver
dwprod_host=localhost
dwprod_url=jdbc:postgresql://&&host/&&dbname

dwprod_admin_user=dwprod
dwprod_admin_pass=s0meB3tt3rPa55w0rd
dwprod_admin_dbname=dwprod
dwprod_admin_driver=org.postgresql.Driver
dwprod_admin_host=localhost
dwprod_admin_url=jdbc:postgresql://&&host/&&dbname

hive_user=
hive_pass=
hive_dbname=default
hive_host=somehostname
hive_port=10000
hive_url=jdbc:hive2://&&host:&&port/&&dbname;principal=hive/&&host@securityhostname
hive_driver=org.apache.hive.jdbc.HiveDriver

nzprod_user=alex
nzprod_pass=s0mePa55w0rd
nzprod_dbname=databasename
nzprod_host=somenetezzahost
nzprod_url=jdbc:netezza://&&host/&&dbname
nzprod_driver=org.netezza.Driver

gpprod_user=alex
gpprod_pass=s0mePa55w0rd
gpprod_dbname=masterdb
gpprod_host=somegreenplumhost
gpprod_port=5432
gpprod_url=jdbc:postgresql://&&host:&&port/&&dbname
gpprod_driver=org.postgresql.Driver

oraprod_user=alex
oraprod_pass=s0mePa55w0rd
oraprod_tns=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=someoraclehost)(PORT=1521)))(CONNECT_DATA=(SID=oraprod)))
oraprod_url=jdbc:oracle:thin:@&&tns
oraprod_driver=oracle.jdbc.driver.OracleDriver


